.auth-menu {
    animation: 1s slowShowing;
    background-color: rgba(255, 255, 255, 0.589);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
    height: 280px;
    width: 560px;
    
}

.auth-menu__box {
    text-align: center;
    padding-top: 15px;
    
}

h1 {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.822)
}

.auth-men p {
    margin-top: 15px;
    font-size: 150%;
}

.menu__item {
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  
.menu__item.aboutnote {
    bottom: 0;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    width: 100%;
}

a {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.308);
    transition: 0.5s;
}

a:hover {
    color: black;
    transition: 0.5s;
}

@keyframes slowShowing {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }