* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/public/onebackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  background-color: rgba(255, 255, 255, 0.445);
  height: 85px;
  animation: slowShowing 1.5s;
}

.searchline {
  width: 100%;
}

.searchform {
  padding-left: 23%;
  padding-top: 15px;
}

.search_input {
  background-image: url(/public/search.png);
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: auto 90%;
  padding-left: 60px;
  height: 50px;
  outline: none;
  border-radius: 50px;
  font-size: 23px;
  width: 90%;
  background-color: rgba(245, 245, 245, 0.849);
  transition: background-color 0.3s;
}

.search_input:hover {
  background-color: rgb(255, 255, 255);
}

/* Navbar Styles */
.navbar {
  display: flex;
}

.userprofileimg {
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid white;
}
.menu__item img {
  padding-right: 10px;
}

.menu__item, .background-button, .backet-button, .info-button {
  text-decoration: none;
}

/* User Profile Styles */
.user-profile-container {
  padding-right: 3%;
  margin-left: 20px;
  text-align: center;
}

.avatar {
  width: 200px;
  height: 85px;
}

.change-user-popup {
  position: absolute;
  margin-bottom: 5px;
  width: 200px;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.829);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
  font-size: 110%;
}

.change-user-popup p {
  transition: text-decoration 0.5s;
}

.change-user-popup p:hover {
  text-decoration: underline;
}

.change-user-popup button {
  background-color: rgba(255, 255, 255, 0.26);
  height: 20px;
  width: 60px;
  border: solid 1px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.change-user-popup button:hover {
  background-color: white;
}

.change-user-button {
  text-decoration: none;
  color: black;
}
/* Middle Page Styles */
.user-profile-container-middlepages {
  right: 0;
  position: absolute;
  padding-right: 5%;
  text-align: center;
}

.avatar-middlepage {
  width: 200px;
  height: 85px;
  cursor: pointer;
}

.user-info {
  position: absolute;
}
/* User Info Styles */
.user-info button {
  margin-top: 7px;
  border: solid 5px;
  border-radius: 12px;
  background-color: white;
  border-color: white;
  cursor: pointer;
  font-size: 150%;
  transition: background-color 0.5s, border-color 0.5s;
}

.user-info button:hover {
  background-color: rgb(255, 91, 91);
  border-color: rgb(255, 91, 91);
}

.user-info p {
  background-color: white;
  border: solid 3px;
  border-color: white;
  border-radius: 10px;
  border-width: 3px;
}

@keyframes slowShowing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .searchline, .search_input {
    width: 100%;
    font-size: 16px;
  }
  .searchline {
    flex: 1;
    margin: 0 10px;
    padding-left: 10px;
  }
  .avatar, .avatar-middlepage {
   width: 40px;
   height: 40px;
  }
 
  .menu__item {
    font-size: 14px;
    padding: 5px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    padding: 0 10px;
  }
  .buttonbox,
  .user-info button,
  .change-user-popup button {
    font-size: 14px;
  } 
  .change-user-button {
    font-size: 14px;
  }
  .user-info {
    border-radius: 50px;
    justify-content: center;
    width: 200px;
    height: 70px;
    display: flex;
    position: absolute;
    font-size: 14px;
    padding: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.829);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
  }
  .change-user-popup {
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
  }
}

