/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  background-image: url(/public/onebackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Header Styles */
.header {
  background-color: rgba(255, 255, 255, 0.445);
  height: 85px;
  animation: slowShowing 1.5s;
}

/* Search Styles */
.searchline {
  width: 100%;
}

.searchform {
  padding-left: 23%;
  padding-top: 15px;
}

.search_input {
  background-image: url(/public/search.png);
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: auto 90%;
  padding-left: 60px;
  height: 50px;
  outline: none;
  border-radius: 50px;
  font-size: 23px;
  width: 90%;
  background-color: rgba(245, 245, 245, 0.849);
  transition: background-color 0.3s;
}

.search_input:hover {
  background-color: rgb(255, 255, 255);
}

/* Navbar Styles */
.navbar {
  display: flex;
}

.menu__item img {
  padding-right: 10px;
}

.menu__item, .background-button, .backet-button, .info-button {
  text-decoration: none;
}

/* User Profile Styles */
.user-profile-container {
  padding-right: 3%;
  margin-left: 30px;
  text-align: center;
}

.avatar {
  width: 180px;
  height: 85px;
  cursor: pointer;
}

.change-user-popup {
  position: absolute;
  margin-bottom: 3px;
  width: 180px;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.829);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
}

.change-user-popup p {
  transition: text-decoration 0.5s;
}

.change-user-popup p:hover {
  text-decoration: underline;
}

.change-user-popup button {
  background-color: rgba(255, 255, 255, 0.26);
  height: 20px;
  width: 60px;
  border: solid 1px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.change-user-popup button:hover {
  background-color: white;
}

.change-user-button {
  text-decoration: none;
  color: black;
}

/* Middle Page Styles */
.user-profile-container-middlepages {
  right: 0;
  position: absolute;
  padding-right: 3%;
  text-align: center;
}

.avatar-middlepage {
  width: 180px;
  height: 85px;
  cursor: pointer;
}

/* User Info Styles */
.user-info button {
  margin-top: 7px;
  border: solid 5px;
  border-radius: 12px;
  background-color: white;
  border-color: white;
  cursor: pointer;
  font-size: 150%;
  transition: background-color 0.5s, border-color 0.5s;
}

.user-info button:hover {
  background-color: rgb(255, 91, 91);
  border-color: rgb(255, 91, 91);
}

.user-info p {
  background-color: white;
  border: solid 3px;
  border-color: white;
  border-radius: 10px;
  border-width: 3px;
}

/* Keyframes Animation */
@keyframes slowShowing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
