.faq-box {
    margin-top: 200px;
}
.questions-and-answers {
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    font-size: 120%;
}

.question {
    border-radius: 10px;
    padding-top: 10px;
    margin: 0 auto;
    max-width: 55%;
    max-height: 3em;
    background-color: #f0f0f0;
    cursor: pointer;
    font-weight: bold;
}

.answer {
    border-radius: 10px;
    padding-top: 5px;
    margin: 0 auto;
    max-width: 50%;
    max-height: 15em;
    background-color: #c4c4c4;
    display: none;
    margin-top: 10px;
    font-style: italic;
}

.answer.active {
    display: block;
    animation: fade-in 0.5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .faq-box {
      margin-top: 200px;
    }
    .question, .answer {
      font-size: 22px;
      max-width: 70%;
    }
  }
  