.faq-box {
    margin-top: 200px;
}

.questions-and-answers {
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    font-size: 120%;
}

.question {
    border-radius: 10px;
    padding-top: 10px;
    margin: 0 auto;
    max-width: 55%;
    max-height: 3em;
    background-color: #f0f0f0;
    cursor: pointer;
    font-weight: bold;
}

.answer {
    border-radius: 10px;
    padding-top: 5px;
    margin: 0 auto;
    max-width: 50%;
    max-height: 15em;
    background-color: #c4c4c4;
    display: none;
    margin-top: 10px;
    font-style: italic;
}

.answer.active {
    display: block;
    animation: fade-in 0.5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .faq-box {
        margin-top: 200px;
    }

    .question,
    .answer {
        font-size: 22px;
        max-width: 70%;
    }

    .user-info {
        border-radius: 50px;
        justify-content: center;
        width: 200px;
        height: 70px;
        display: flex;
        position: absolute;
        font-size: 14px;
        padding: 0 auto;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 40px;
        align-items: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.829);
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
    }
}