.questions-and-answers {
    margin: 6% auto;
    width: 100%;
    height: 50em;
    text-align: center;
    align-items: center;
    font-size: 150%;
}

.questions {
    margin-left: 15%;
    width: 45%;
    height: 3em;
    background-color: gray;
    border-radius: 50px;
}

.answers {
    margin-left: 45%;
    padding-top: 3px;
    margin-bottom: 5px;
    width: 45%;
    height: 4em;
    background-color: #fa8383;
    border-radius: 50px;
}

.questions p {
    padding-top: 15px;
}

.answers p {
    margin-top: 15px;
}